.question-container{
    display: flex;
    justify-content: center;
}
.form-body{
    display: flex;
    flex-direction: column;
    background-color: white;
    /* align-items: center; */
    margin:5rem;
    padding: 2rem;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select, input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #00695c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #004d40;
}
