{% extends "admin/change_list.html" %}
{% load static %}

{% block content %}
<style>
    .chart-container {
        width: 60%;
        margin: auto;
        margin-bottom: 20px;
    }
</style>

<div class="chart-container">
    <canvas id="emotionsChart"></canvas>
</div>

{{ block.super }}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('emotionsChart').getContext('2d');
    const emotionsData = {{ emotions_data|safe }};
    const emotionsLabels = Object.keys(emotionsData);
    const emotionsCounts = Object.values(emotionsData);

    const emotionsChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: emotionsLabels,
            datasets: [{
                label: 'Emotions Count',
                data: emotionsCounts,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}
